*.lisp#
*.h~
*.lisp~
test/lambda/lambda.o
test/lambda/lambda.lo
/test/method/.libs
/test/method/.libs
test/method/method.o
test/method/method_main.lo
test/method/method_main.o
test/method/method.o
/test/lambda/.libs
*.o
*.o
/test/method/.libs
.\#backend.lisp
.\#specifier.lisp
*.lo
test/basic_main
test/lambda/lambda.c.run1.c
test/lambda/lambda.c.run2.c
test/lambda/lambda.c.run3.c
test/method/main.c.run1.c
test/method/main.c.run2.c
test/method/main.c.run3.c
test/method/method.c.run1.c
test/method/method.c.run2.c
test/method/method.c.run3.c
test/lambda/defer.c.run1.c
test/lambda/defer.c.run2.c
test/lambda/defer.c.run3.c
test/lambda/defer_main
test/control.c.run1.c
test/control.c.run2.c
test/control.c.run3.c
test/main
/test/main.dSYM
test/sha1/sha1.c.run1.c
test/sha1/sha1.c.run2.c
test/sha1/sha1.c.run3.c
test/var.c.run1.c
test/var.c.run2.c
test/var.c.run3.c
.DS_Store
test/.libs/libMyMath.a
test/.libs/libMyMath.la
test/CompileTest
test/libMyMath.la
test/main.c.run1.c
test/main.c.run2.c
test/main.c.run3.c
test/obj1.c.run1.c
test/obj1.c.run2.c
test/obj1.c.run3.c
test/obj2.c.run1.c
test/obj2.c.run2.c
test/obj2.c.run3.c
test/obj3.c.run1.c
test/obj3.c.run2.c
test/obj3.c.run3.c
test/\#main.c\#
test/course.c.run1.c
test/course.c.run2.c
test/course.c.run3.c
test/.DS_Store
test/lambda/.DS_Store
test/method/.DS_Store
test/sha1/.DS_Store
test/test.lisp
test/main.c
test/multi.c.run1.c
test/multi.c.run2.c
test/multi.c.run3.c
test/basic.c.run1.c
test/basic.c.run2.c
test/basic.c.run3.c
test/lambda/main
test/method/main
test/module/main
test/module/main.c.run1.c
test/module/main.c.run2.c
test/module/main.c.run3.c
test/module/module.c.run1.c
test/module/module.c.run2.c
test/module/module.c.run3.c
